@model Di2.Web.ViewModels.Categories.ViewModels.CategoryProductsViewModel
@{ 
    this.ViewData["Title"] = "Продукти";
}

@foreach (var product in Model.Deliveries)
{
    <div class="row">
        @product.MaterialName
        @product.MaterialDescription
        @product.MaterialExtraInfo
        @product.UnitPrice
        @product.SubCategory
        <img src="@product.MaterialImage" />
        @product.Quantity
    </div>
}
