@model Di2.Web.ViewModels.Deliveries.DeliveryViewModel

@{
    this.ViewData["Title"] = "Продукти";
}

@Model.Name

@foreach (var product in Model.Deliveries)
{
    <div class="row">
        <a asp-controller="Deliveries" asp-action="ById" asp-route-id="@product.MaterialId">@product.MaterialName</a>
        @product.Description
            @product.ExtraInfo
            @product.UnitPrice.ToString("#.##")
            @product.SubCategoryId
            @product.Quantity
        @product.Cost
        <img src="@product.Image" />
    </div>
}
