@model Di2.Web.ViewModels.Orders.ViewModels.ReceiptViewModel

@{
    ViewData["Title"] = "Детайли за поръчката";
}

<div class="finish-order-holder w-50 mx-auto d-flex justify-content-between">
    <div class="form-holder w-25">
        <h3 class="text-left">Разписка №</h3>
    </div>
    <div class="price-holder w-75">
        @Model.Id
    </div>
</div>

<hr class="hr-2 bg-dark w-50">
<div class="products-holder w-50 mx-auto">
    @foreach (var order in Model.Orders)
    {
        <div class="product d-flex justify-content-between">
            <div class="product-name w-75">
                <h5>@order.MaterialName</h5>
            </div>
            <div class="product-quantity-and-price d-flex justify-content-between w-25">
                <h5>@order.Quantity</h5>
                <h5>@order.AvgPrice</h5>
            </div>
        </div>
    }
</div>
<hr class="hr-2 bg-dark w-50">
<div class="finish-order-holder w-50 mx-auto d-flex justify-content-between">
    <div class="form-holder w-25">
        <h3 class="text-left">Общо</h3>
    </div>
    <div class="price-holder w-25">
        @Model.Orders.Sum(x => x.AvgPrice * (decimal)x.Quantity).ToString("F2")
    </div>
</div>
<hr class="hr-2 bg-dark w-50">
<div class="finish-order-holder w-50 mx-auto d-flex justify-content-between">
    <div class="form-holder w-25">
        <h3 class="text-left">Издадена на</h3>
    </div>
    <div class="price-holder w-25">
        @Model.IssuedOn
    </div>
</div>
<div class="finish-order-holder w-50 mx-auto d-flex justify-content-between">
    <div class="form-holder w-25">
    </div>
    <h3 class="text-left">Получател</h3>
    <div class="price-holder w-25">
        @Model.Recipient
    </div>
</div>


