@using Di2.Web.ViewModels.PriceLists.ViewModels
@model Di2.Web.ViewModels.OrderSuppliers.OrderSuppliersListViewModel
@{
    this.ViewData["Title"] = "Поръчка на материали";
    //var orderDate = Model.OrderSub.Select(x => DateTime.UtcNow);
    //var quantity = Model.OrderSub.Select(x=>0);
}
<h1 class="display-3">@this.ViewData["Title"]</h1>

<form method="post" asp-action="Create">
    <div class="row">
        @for (int i = 0; i < Model.Pricelists.Count; i++)
        {
            <div>
                @Model.Pricelists[i].Material.Name @Model.Pricelists[i].Supplier.Name @Model.Pricelists[i].MinimumQuantityPerOrder @Model.Pricelists[i].UnitPrice
                <input type="date" asp-for="@Model.OrderSub[i].OrderDate orderDate" />
                <input type="number" step="10" asp-for="@Model.OrderSub[i].Quantity" />
            </div>
        }
    </div>
    <hr />
    <input type="submit" class="btn btn-primary" />
</form>
