@using Di2.Web.ViewModels.PriceLists.ViewModels
@model Di2.Web.ViewModels.OrderSuppliers.OrderSuppliersListViewModel
@{
    this.ViewData["Title"] = "Поръчка на материали";
}
<h1 class="display-3">@this.ViewData["Title"]</h1>

<form method="post" asp-action="Create">
    <div class="row">
        @foreach (var p in Model.Pricelists)
        {
        <div>
            @p.Material.Name @p.Supplier.Name @p.MinimumQuantityPerOrder @p.UnitPrice
            <input type="date" asp-for="@Model.Orderpart.OrderDate)" />
            <input type="number" step="10" asp-for="@Model.Orderpart.Quantity)" />
        </div>
                }
        @* @Model.PriceLists.Select(x => x.Material.Name) @Model.PriceLists.Select(x => x.Material.Description) @Model.PriceLists.Select(x => x.Supplier.Name) @Model.PriceLists.Select(x => x.UnitPrice) @Model.PriceLists.Select(x => x.MinimumQuantityPerOrder)*@
    </div>
</form>
