@using Di2.Web.ViewModels.Deliveries
@model IEnumerable<DeliveryViewModel>

@using Di2.Common
@{
    this.ViewData["Title"] = "List All Deliveries";
}

@foreach (var item in Model)
{
    <a>@item.Name</a>
    @item.Description
        @item.Quantity
        @item.AvgPrice
        @item.SubCategoryName
    <a><img src="@item.Image" /></a>
}
