@using Di2.Common
@*@model Di2.Web.ViewModels.Deliveries.ProductViewModel*@
@model Di2.Web.ViewModels.Categories.ViewModels.CategoryProductsViewModel
@{
    this.ViewData["Title"] = "Детайли за продукта";
}

<style>
    input {
        border: none;
    }
</style>

<form asp-controller="Deliveries" asp-action="Order" method="post" id="placeOrder">
    <img src="@Model.Image" />
    <input asp-for="@Model.MaterialName" readonly="readonly" />
    <input asp-for="@Model.Description" readonly="readonly" />
    <input asp-for="@Model.ExtraInfo" style="border:none" readonly="readonly" />
    <input asp-for="@Model.SubCategoryName" readonly="readonly" />
    @*<input type="number" @Model.Quantity disabled />*@
    @* @Model.Cost*@
    <input asp-for="@Model.AvgPrice" readonly="readonly" />
    <div class="product-quantity">
        <span class="pro-qty">
            <input name="Quantity" id="Quantity" type="number" value="1" class="form-control" />
            <span asp-validation-for="Quantity" class="text-danger"> </span>
        </span>
    </div>
    <input type="hidden" name="MaterialId" value="@Model.MaterialId" />
    <input type="submit" class="primary-btn pc-btn" value="Добави" />
</form>


@*@section Scripts{
    <script>
        $('#placeOrder').validate({
            rules: {
                //required: true,
                remote: {
                    url: '/Deliveries/CheckDeliveredQty',
                    type: 'post',
                    data: {
                        quantity: function () {
                            return $('#Quantity').val();
                        }
                    }
                }
            }
        })
    </script>
    }*@