@using Di2.Web.ViewModels.Orders.ViewModels
@model OrdersViewModel
@{
    ViewData["Title"] = "Общо поръчки";
}

@if (Model.Orders.Count == 0)
{
    <h3 class="text-center text-primary">Няма поръчки</h3>
}

else
{
    @*<div id="orders" class="text-dark">
        <div class="row mt-1">*@

    <div class="col-md-3 text-left">Продукт</div>
    <div class="col-md-1 text-left">Брой</div>
    <div class="col-md-2 text-left">Единична цена</div>
    <div class="col-md-3 text-left">Крайна цена</div>
    <div class="col-md-3 text-left">Клиент</div>
    <div class="col-md-3 text-left">Поръчка №</div>

    @*</div>*@

    <form asp-controller="Orders" asp-action="AdminComplete" method="post">
        @for (int i = 0; i < Model.Orders.Count; i++)
        {
            <input type="hidden" asp-for="@this.Model.Orders[i].Id" />
            <div class="order row">
                @Model.Orders[i].MaterialName
                <h6 class="col-md-1 text-left">
                    <input type="number" asp-for="@Model.Orders[i].Quantity" style="border:none; width:100%;background-color: rgba(70, 35, 122, 0.1)" onchange="sendQty()" />
                    <span asp-validation-for="@Model.Orders[i].Quantity" class="text-danger"></span>
                </h6>
                @Model.Orders[i].AvgPrice
                @Model.Orders[i].TotalPrice
                @Model.Orders[i].IssuedOn
                @Model.Orders[i].Orderer.UserName
                @Model.Orders[i].Id
            </div>
        }

        <hr class="hr-4 bg-info" />
        <input type="submit" class="btn btn-primary" value="Изготвена" />
    </form>
    <hr class="hr-2 bg-light">

    <h2 class="text-dark text-right" id="total-price">ОБЩО: @Model.Orders.Sum(x => x.AvgPrice * (decimal)x.Quantity).ToString("F2")</h2>
    @*</div>*@
}
@section Scripts {
    <script>
        function sendQty() {
            let bigTotal = 0;
            let current = 0;
            debugger;
            let orders = Array.from($('.order'));
            for (let order of orders) {
                current = 0;
                let domUnitPrice = +$($(order).children()[3]).text();
                let domQty = $($($(order).children()[2]).children()[0]).val();
                current = +domQty * +domUnitPrice;
                bigTotal += current;
                +$($(order).children()[5]).text(current.toFixed(2));
            }
            $('#total-price').text('ОБЩО: ' + bigTotal.toFixed(2));
        }
    </script>
}


